body {  
    max-width: 600px;
    margin: 0px auto;
}

header {
    background-color: #333333;
    color: white;
    font-size: 24px;
    text-align: center;
}   

header > p { 
    padding: 10px;
}

main {
    height: auto;
    width: auto;
    box-sizing: border-box;
    display: block;
    max-width: 330px;
    margin: 0px auto;
}

h1 {
    text-align: center;
}

img {
    width: 330px;
    box-shadow: 0 0 30px rgb(58, 58, 58);
    margin-bottom: 30px;
}

h2 {
    border-bottom: 1px solid #000;
    line-height: 1.5em;
    margin-bottom: 10px;
}

section {
    padding: 5px 18px;
    margin-bottom: 25px;
}

section > p {
    line-height: 1.5em;
    margin-top: 0px;
    font-size: .9rem;
    padding-left: 10px;
}

section > ul {
    line-height: 1.5em;
    margin-top: 0px;
    font-size: .9rem;
    padding-left: 25px;
}

footer {
    padding: 6px;
    background-color: #333333;
    color: white;
    font-size: 12px;
    text-align: center;
}

section {
    background-color: #dddddd;
}